/* Flex items */

.flex-items {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   text-align: center;
   height: 100%;
}

.flex-items>div {
   padding: 40px;
}
.bg-dark {
   background-color: #333;
   color: white
}